@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap");

//Fonts
$crimsonfont: "Crimson Text", serif;

//colors
$pink: #e80486;
$orange: #e85d04;
$darkblue: #0f0052;
