@import "./../../main.scss";

:root {
    --primary: linear-gradient(to right, #e85d04 0%, #e83144 51%, #e80486 100%);
    --social: linear-gradient(to right, #3b5998 0%, #227db7 51%, #0b9ed3 100%);
}

.btn {
    font-family: $crimsonfont;
    color: white;
    border: none;
    cursor: pointer;
    transition: tranform 0.3s ease;
    width: 50%;
    margin-top: 2rem;
}

.btn:hover {
    transform: translateY(-3px);
    color: $darkblue;
}

.btn--primary-round {
    background-image: var(--primary);
    border-radius: 55px;
}

.btn--primary-square {
    background-image: var(--primary);
}

.btn--social-round {
    background-image: var(--social);
    border-radius: 55px;
}

.btn--social-square {
    background-image: var(--social);
}

.btn--medium {
    padding: 5px 15px;
    font-size: 30px;
}

.btn--large {
    padding: 38px 51px;
    font-size: 30px;
}
